.serversList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 90%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.modal-content button {
  align-self: flex-end;
  margin-top: auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cercle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  width: 800px;
}

.details {
  display: flex;
  flex-direction: row; /* Changer de row à column */
  gap: 10px;
  width: 100%;
  height: 400px;
}

.etat {
  height: max-content;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.chart-container {
  flex: 1;
  width: 40%; 
}



.rouge {
  color: red;
}

.orange {
  color: #ffb703
}

.vert {
  color: teal;
}

.card button {
  width: 150px;
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.cardTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-bottom: 2px solid black;
}


.status {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 10px; 
}

.status > h1 {
  position: absolute;
  font-size: 100px;
  height: 30px;
  right: 65px;
  bottom: 70px;
  margin-right: 5px;
}

.status > h2 {
  position: absolute;
margin-left: 10px;
}



.homeContainer input {
  margin-left: 40%;
  width: 20%;
  height: 30px;
}